<form [formGroup]="loginForm" (ngSubmit)="submitForm()">
  <div class="centered-container">
    <mat-error *ngIf="wrongCredentials">Wrong username or password</mat-error>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="nameField">
      <mat-error *ngIf="loginForm.get('nameField')?.invalid">You must enter your name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwordField">
      <mat-error *ngIf="loginForm.get('passwordField')?.invalid">You must enter your password</mat-error>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" class="btn btn-light" style="font-size: 18px;">Login</button>
    <button type="button" class="btn btn-link" style="font-size: 14px;"
            onclick="location.href='http://localhost:4200/register-user'">Don't have account? Register here
    </button>
  </div>
</form>
