<form [formGroup]="registerForm" (ngSubmit)="submitForm()" class="centered-container">
  <mat-error *ngIf="errorMessage">There is already user with the same username</mat-error>
  <div>
    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput formControlName="usernameField">
        <mat-error *ngIf="registerForm.get('usernameField')?.invalid">You must enter a value</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="passwordField" type="password">
        <mat-error *ngIf="registerForm.get('passwordField')?.invalid">You must enter a value</mat-error>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Password again</mat-label>
        <input matInput [type]="hidePasswordMatch ? 'password' : 'text'" formControlName="passwordMatchField"
               type="password">
        <mat-error *ngIf="registerForm.get('passwordMatchField')?.invalid">You must enter a value</mat-error>
        <button mat-icon-button matSuffix (click)="hidePasswordMatch = !hidePasswordMatch"
                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswordMatch">
          <mat-icon>{{hidePasswordMatch ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <mat-error *ngIf="registerForm.errors?.['passwordsDontMatch']">Passwords doesn't match</mat-error>

  <button type="submit" class="btn btn-light">Submit</button>
</form>
