
<div class="container" style="max-width: 800px;">
  <div class="card">
    <div class="card-body">
      <div style="overflow: auto;">
        <h5 class="card-title" style="float: left">Contact Details: {{contact.id}}</h5>
        <button href="http://localhost:4200/" (click)="deleteContactFunction(contact.id)" type="button"
                class="btn btn-outline-danger" style="float: right;">Delete contact
        </button>
        <a [routerLink]="['/update',contact.id]" style="float: right" class="btn btn-outline-info btn-custom">Update
          contact</a>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          <span class="fw-bold">Name:</span> {{ contact.name }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Surname:</span> {{ contact.surname }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Age:</span> {{ contact.age }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Birthdate:</span> {{ contact.birthdate | date: 'dd.MM.yyyy' }}
        </li>
        <li class="list-group-item">
          <span class="fw-bold">Phone number:</span> {{ contact.phoneNum }}
        </li>
      </ul>
    </div>
    <app-address [address]="contact.address" [contactId]="contact.id"></app-address>

  </div>
</div>






