<p style="padding: 15px;">
  <button class="btn" type="button" style="background-color: #A7C5FC;"
          data-bs-toggle="collapse" [attr.data-bs-target]="'#filter'"
          aria-expanded="false" aria-controls="collapseFilter" (click)="toggleCollapse()">
    Filter contacts
  </button>
</p>
<div class="example-container collapse" id="filter" style="margin-top: 20px; background: #ecf0f0; padding-left: 20px;">
  <form [formGroup]="filterForm" (ngSubmit)="submitForm()">

    <div>
      <mat-form-field>
        <input matInput formControlName="userField" placeholder="User">
      </mat-form-field>
      <mat-checkbox formControlName="userFieldExact">Exact</mat-checkbox>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="nameField" placeholder="Name">
      </mat-form-field>
      <mat-checkbox formControlName="nameFieldExact">Exact</mat-checkbox>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="surnameField" placeholder="Surname">
      </mat-form-field>
      <mat-checkbox formControlName="surnameFieldExact">Exact</mat-checkbox>
    </div>

    <div class="row">
      <div class="col col-md-6" style="max-width: 180px;">
        <input type="date" class="form-control" formControlName="birthdateField">
      </div>
      <div class="col">
        <mat-form-field style="max-width: 150px;">
          <mat-label>Option</mat-label>
          <mat-select formControlName="birthdateFieldExact">
            <mat-option value="exact">Exact</mat-option>
            <mat-option value="before">Before</mat-option>
            <mat-option value="later">Later</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <mat-form-field>
        <input matInput formControlName="phoneNumField" placeholder="Phone number">
      </mat-form-field>
      <mat-checkbox formControlName="phoneNumFieldExact">Exact</mat-checkbox>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="streetField" placeholder="Street name">
      </mat-form-field>
      <mat-checkbox formControlName="streetFieldExact">Exact</mat-checkbox>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="cityField" placeholder="City name">
      </mat-form-field>
      <mat-checkbox formControlName="cityFieldExact">Exact</mat-checkbox>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="countryField" placeholder="Country name">
      </mat-form-field>
      <mat-checkbox formControlName="countryFieldExact">Exact</mat-checkbox>
    </div>


    <button type="submit" style="padding-bottom: 40px;" class="btn btn-light">Filter</button>

  </form>
</div>
