<p>
  <button class="btn btn-secondary" type="button"
          data-bs-toggle="collapse" [attr.data-bs-target]="'#'+contactId"
          aria-expanded="false" aria-controls="collapseExample">
    Show address
  </button>
</p>
<div class="collapse" id="{{contactId}}">
  <div class="card card-body">
    <ul class="list-group" *ngIf="address">
      <li class="list-group-item">Street: {{address["street"]}}</li>
      <li class="list-group-item">Number of house: {{address["houseNum"]}}</li>
      <li class="list-group-item">City: {{address["city"]}}</li>
      <li class="list-group-item">Country: {{address["country"]}}</li>
    </ul>
  </div>
</div>
