<div style="display: flex; justify-content: space-between;">
  <a href="http://localhost:4200/" class="oval-button">
    <img src="assets/workflows_logo.jpg" alt="Button Image">
  </a>

</div>

<div class="top-right-button">
  <button mat-button [matMenuTriggerFor]="menu">Options</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Logout</button>
    <button mat-menu-item (click)="deleteUser()">Delete your account</button>
  </mat-menu>
</div>


<button routerLink="register" class="btn btn-secondary"
        style="margin-top: 10px; margin-left: 15px; padding-right: 25px;">Add contact
</button>
<div></div>
<div class="row">
  <app-filter class="col" [class.col-md-2]="!isCollapsed" [class.col-md-4]="isCollapsed"
              [class.col-xl-1]="!isCollapsed" [class.col-xl-3]="isCollapsed" #filter
              (collapsedChange)="onCollapsedChange($event)"></app-filter>

  <div class="mat-elevation-z8 col" [class.col-10]="!isCollapsed" [class.col-8]="isCollapsed"
       [class.col-xl-11]="!isCollapsed" [class.col-xl-9]="isCollapsed">

    <table mat-table matSort (matSortChange)="sortChange($event)"
           [dataSource]="dataSource" multiTemplateDataRows>
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-button [matMenuTriggerFor]="menu">Options</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['/update',element.id]">Update</button>
            <button mat-menu-item (click)="deleteContactFunction(element.id)">Delete</button>
          </mat-menu>
        </td>
      </ng-container>
      <ng-container matColumnDef="expand">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="expand row"
                  (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="container" style="display: flex; align-items: center;">
              <div class="image-container" style="flex: 2;">
                <img src={{element.image}} style="max-height: 200px; max-width: 150px;" alt="Image"/>
              </div>
              <div class="text-fields" style="flex: 2;">
                <p><strong>Street:</strong> {{element.address['street']}}</p>
                <p><strong>House number:</strong> {{element.address['houseNum']}}</p>
                <p><strong>City:</strong> {{element.address['city']}}</p>
                <p><strong>Country:</strong> {{element.address['country']}}</p>
              </div>
              <div style="flex: 5;">
                <p><strong>Hobbies:</strong></p>
                <p *ngFor="let value of element.hobbies">
                  {{value}}
                </p>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element">
        <!--  WHOLE ROW IS CLICKABLE => (click)="expandedElement = expandedElement === element ? null : element"-->
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of contacts"
                   (page)="pageChange()">
    </mat-paginator>
  </div>
</div>


