
.btn-custom:hover {
  background-color: cornflowerblue;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: #f8f9fa;
  color: #6c757d;
  border-color: #dee2e6;
}

.active {
  background-color: #6c757d;
  color: #fdfdfd;
  border-color: #000000;
}

.floating-btn {
  background-color: #6c757d;
  color: #fdfdfd;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.top-right-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  cursor: pointer;
}

.oval-button {
  display: inline-block;
  border-radius: 10%;
  overflow: hidden;
}

.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
