<div style="display: flex; justify-content: space-between;">
  <a href="http://localhost:4200/" class="oval-button">
    <img src="assets/workflows_logo.jpg" alt="Button Image">
  </a>
  <div style="padding-right: 20px;" mat-dialog-title class="dialog-title">
    <button mat-icon-button aria-label="close dialog" mat-dialog-close (click)="returnHome()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<form [formGroup]="parentForm" (ngSubmit)="submitForm()">
  <div formGroupName="contactForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="nameField">
      <mat-error *ngIf="contactForm.get('nameField')?.invalid">You must enter a value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surnameField">
      <mat-error *ngIf="contactForm.get('surnameField')?.invalid">You must enter a value</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input matInput formControlName="phNumField">
      <mat-error *ngIf="contactForm.get('phNumField')?.invalid">
        Value must be in form of '0123456789' or '+xxx123456789'
      </mat-error>

    </mat-form-field>
    <div class="row" style="max-width: 800px;">
      <div class="input-group mb-2 col" style="max-height: 40px; margin-top: 25px;">
        <span class="input-group-text">Birthdate*</span>
        <input type="date" class="form-control" formControlName="birthdateField">
      </div>

      <div class="mb-3 col">
        <label for="file" class="form-label">Select preferred image for the profile</label>
        <input (change)="this.onFilechange($event)" class="form-control" formControlName="imageField" accept="image/png" type="file" id="file">
      </div>
    </div>
  </div>

  <mat-form-field class="example-chip-list col-5">
    <mat-label>Hobbies</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter Hobbies">
      <mat-chip-row *ngFor="let hobby of hobbies"
                    (removed)="remove(hobby)"
                    [editable]="true"
                    (edited)="edit(hobby, $event)"
                    [aria-description]="'press enter to edit ' + hobby">
        {{hobby}}
        <button matChipRemove [attr.aria-label]="'remove ' + hobby">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
      <input placeholder="New hobby..."
             [matChipInputFor]="chipGrid"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>

  <div formGroupName="addressForm">
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input matInput formControlName="streetField">
    </mat-form-field>
    <mat-form-field>
      <mat-label>House Number</mat-label>
      <input matInput formControlName="houseNumField" type="number" placeholder="Enter house number">
    </mat-form-field>
    <mat-form-field>
      <mat-label>City</mat-label>
      <input matInput formControlName="cityField">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <input matInput formControlName="countryField">
    </mat-form-field>
  </div>


  <button type="submit" [disabled]="!contactForm.valid" class="btn" [ngClass]="{ 'btn-primary': parentForm.valid, 'btn-secondary': !parentForm.valid }">Submit</button>
</form>
